*{
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.petcard {
  max-width: 500px;
  border: solid black 2px;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  margin: 1rem;

  .petimage {
    max-width: 200px;
    max-height: 200px;
  }

  .infolist {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    width: 50%;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  button {
    align-self: baseline;
  }
}
